dist: bionic
services: docker
language: rust
sudo: required
cache: cargo
before_cache:
- chmod -R a+r $HOME/.cargo

branches:
  only:
  - "/^v\\d+\\.\\d+\\.\\d+.*$/"
  - master

rust:
  - nightly
  - nightly-2018-08-15

matrix:
  allow_failures:
  - rust: nightly

notifications:
  email:
    on_success: never
    on_failure: never

env:
  global:
  - CRATE_NAME=novelist

script:
  - cargo build
  - cargo test --all

before_install:
  - sudo add-apt-repository ppa:gnome3-team/gnome3
  - sudo apt update
  - sudo apt install gnome-devel